


# Server Configuration
PORT=3000
NODE_ENV=development

# AI Configuration
# Option 1: OpenAI 
OPENAI_API_KEY=your keys

# Option 2: Hugging Face 
HUGGINGFACE_API_KEY=your keys


# CoinGecko API 
COINGECKO_API_URL=https://api.coingecko.com/api/v3

# HyperLiquid API
HYPERLIQUID_API_URL=https://api.hyperliquid.xyz


AI_PROVIDER=huggingface
HF_MODEL=mistralai/Mistral-7B-Instruct-v0.2


